<div class="task-container">
  <navbar>
    <div class="navbar-container" navbar-body>
      <div class="navbar-name">
        <span navbar-title>
          <navbar-name [title]="title"></navbar-name>
        </span>
      </div>
      <div class="navbar-wrapper">
        <span navbar-content>
          <navbar-search [border]="border" [color]="color" [textColor]="textColor"></navbar-search>
        </span>
      </div></div
  ></navbar>

  <div class="side-folder-container">
    <side-folder></side-folder>
  </div>
</div>
