<section class="about-container">
  <div class="about-wrapper">
    <p class="about-title">About</p>
    <div class="about-content">
      <p>A simple Node.js Framework for creating REST API server side applications using typescript.</p>
      <span>MayaJS is designed for simplicity and ease of use for beginners.</span>
    </div>
    <reminder [content]="content" [bg]="bg"></reminder>
    <p class="about-link">Useful links</p>
    <div class="btn-link-container">
      <button class="btn-link">Repository</button>
      <button class="btn-link">Documentation</button>
    </div>
    <div class="back-container" (click)="back()">
      <button class="btn-back">Go Back</button>
    </div>
  </div>
</section>
