<div class="folder-container">
  <div class="icon-container">
    <button>
      <i class="las la-angle-down icon"></i>
    </button>
  </div>
  <div class="file-container">
    <input type="file" class="file" />
  </div>
  <div class="icon-container">
    <button>
      <i class="las la-sync-alt icon"></i>
    </button>
  </div>
  <div class="icon-container">
    <button>
      <i class="las la-star icon"></i>
    </button>
  </div>
  <div class="icon-container">
    <button>
      <i class="las la-caret-down icon"></i>
    </button>
  </div>
  <div class="icon-container">
    <button>
      <i class="las la-ellipsis-v icon"></i>
    </button>
  </div>
</div>
