.project-wrapper {
  padding: 0.6rem 0;
  grid-column: 2/3;

  .project-card {
    background-color: #ffffff;
    max-height: max-content;
    width: 100%;
    border: 1px solid #b40f00;
    box-shadow: 5px 5px 10px 2px rgba(255, 63, 63, 0.2);
    border-radius: 1rem;
    display: grid;
    align-content: center;

    .card-container {
      @apply maya-grid-flow-col;
      display: grid;
      gap: 0.5rem;
      padding: 0.5rem 4rem;

      .icon-container {
        display: grid;
        grid-template-columns: 4rem 1fr;

        .icon-title {
          @apply maya-text-primary-neutral-dark maya-text-lg maya-font-semibold;
          padding-top: 0.45rem;
        }
      }
    }
  }
}
