.extension-container {
  display: grid;

  .extension-title {
    @apply maya-text-xl maya-font-light maya-text-primary-neutral-dark;
    padding-left: 1.25rem;
  }

  .logo-container {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 4.5rem 1fr;

    .title-container {
      display: grid;
      grid-template-rows: 1.8rem 1fr;

      .logo-title {
        @apply maya-font-light maya-text-primary-neutral-dark;
        font-size: 1.35rem;
      }

      .info-container {
        display: grid;
        grid-template-columns: 18rem 12rem 24rem;
        @apply maya-font-light maya-text-primary-neutral-dark;

        .icon-container {
          padding-top: 0.25rem;
          display: grid;
          grid-template-columns: 5rem 1fr;
          line-height: 1rem;

          .icon-wrapper {
            display: grid;
            grid-template-columns: 1.25rem 1fr;
          }
        }

        .local-container {
          display: grid;
          grid-template-columns: 16rem 1fr;

          .info-title {
            font-style: italic;
          }

          .more-info {
            color: red;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
